*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common style */
:root{
    --text-color: #000000;
    --secondly-text-color: gray;
}
.container{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 0px;
    font-family: "Source Serif Pro", serif;
}
/* header section style start */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coding__titel{
    font-size: 3em;
    font-weight: 700;
    color: var(--text-color);
}
.items{
    display: flex;
    list-style: none;
}
.items li{
    padding: 0px 15px;
    font-size: 18px;
    color: var(--text-color);
    cursor: pointer;
    font-weight: 400;
    color: var(--secondly-text-color);
}
.play__titel{
    font-size: 3em;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    padding-bottom: 30px;
}
.coding_color, .coding__titel{
    color: #00AC61;
}

.coding__img_section{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.coding__img_section img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 11px 6px #565e64;
}
/* header section style end */

/* Coding to life section style start */
.coding_content{
    text-align: center;
}
.coding_life_titel{
    font-size: 3em;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
}
.lorem,.write_discription{
    color: var(--secondly-text-color);
    font-weight: 400;
}
/* Coding to life section style end */

.write_titel{
    font-weight: 700;
}
.img_part img {
    width: 500px;
    height: 577px;
    border-radius: 10px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.coding_discription{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px 15px;
    gap: 20px;
}
.lets_coding{
    text-align: center;
    width: 340px;
    height: 280px;
    padding: 30px;
    background-color: rgba(26, 55, 77, 0.05);
    border-radius: 20px
    transition: all 4s ease-in-out;
    border-radius: 5px;
    box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px, rgb(31 31 31 / 12%) 0px 1px 4px;
}
.icon_size{
    padding: 10px 4px;
    font-size: 60px;
    color: cornflowerblue;
}